# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120
quote_type = double
end_of_line = lf

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.ts]
ij_typescript_use_double_quotes = true

[*.{yml,yaml,json,sass,scss,css,styl,toml}]
indent_size = 2

